<% layout("/layouts/boilerplates") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation">
            <div>
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control"  required/>
                <div class="valid-feedback">Your Title is Good!</div>
            </div>
            
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
                <div class="invalid-feedback"> please enter short description</div>
            </div>
            <div>
                <label for="image" class="form-label">Image</label>
                <input name="listing[image.url]" placeholder="Enter image URL/Link" type="text" class="form-control" />
                <div class="invalid-feedback"> please entre correct url/link</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="1200" type="number" class="form-control" required/>
                    <div class="invalid-feedback"> please entre the price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control"required />
                    <div class="invalid-feedback"> please entre the country name</div>
                </div>
            </div>
            <div>
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Matheran, Maharashtra" type="text" class="form-control" required/>
                <div class="invalid-feedback"> please entre the location</div>
            </div>
            <br>
            <button class="btn btn-dark add-btn mt-3">Add</button>
            <br><br>
        </form>
    </div>
</div>
