<% layout("/layouts/boilerplates") %>



<div class="row mt-3 ">
    <h1 class="col-6 offset-3">Login On Wanderlust </h1>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <lable for="username" class="form-lable">Username</lable>
                <input 
                name="username"
                id="username"
                type="text"
                class="form-control"
                required>
                <div class="valid-feedback">Looks good</div>
            </div>
           

                 <div class="mb-3">
                    <lable for="password" class="form-lable">Password</lable>
                    <input 
                    name="password"
                    id="password"
                    type="password"
                    class="form-control"
                    required>
                    
                </div>
                
                <button class="btn btn-success">Login</button>

        </form>
    </div>
</div>



